{% extends 'base.html' %}

{% block title %}Known Architectures{% endblock %}

{% block subheader %}Known Architectures{% endblock %}
{% block content %}
<table border=1
<tr>
  <th>Short Name</th>
  <th>Long Name</th>
  <th>Description</th>
  <th>Number In DB</th>
</tr>
  {% for entry in arches %}
<tr>
  <td align="center">{{ entry['name'] }}</td>
  <td align="center">{{ entry['long_name'] }}</td>
  <td align="center">{{ entry['description'] }}</td>
  <td align="right">{{ entry['count'] }}</td>
</tr>
  {% endfor %}
</table>
{% endblock %}
