<!DOCTYPE html>
<html lang='en'>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <!-- Tell IE to use its latest mode. Need to put line right after 
       head or it will not work in some versions. 
    -->
  <meta name="description" content="Base HTML for Census Pages">
  <meta name="robots" content="noindex,nofollow">
  <!-- Try to make the page responsive to the device -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Links for microformat data -->
  <link rel="author" href="mailto:smooge@smoogespace.com">
  <link rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">

  <!-- Links for style sheets -->

  <!-- Links for JavaScript -->

  <!-- Title of the webpage -->
  <title>Data Views of Census</title>
</head>
<body>
  <header>
  <h1>Census Data</h1>
  <h2>Lookup Tables</h2>
  <ul>
    <li><a href="/data/arches">Architectures</a></li>
    <li><a href="/data/clientapps">Client Apps</a></li>
    <li><a href="/data/countries">Countries</a></li>
    <li><a href="/data/os">Operating Systems</a></li>
    <li><a href="/data/os_releases">OS Releases</a></li>
    <li><a href="/data/os_variants">OS Variants</a></li>
  </ul>
  <h2>Seen Events</h2>
  <ul>
    <li><a href="/data/addresses">Last {{ count }} Known IPs</a></li>
    <li><a href="/data/uuids">Last {{ count }} Known UUIDs</a></li>
    <li><a href="/data/events">Last {{ count }} Counted Events</a></li>
  </ul>
<!--
  <h2>Reports</h2>
  To Be Done
-->

</body>
