{% extends 'base.html' %}

{% block title %}Known OS Releases{% endblock %}

{% block subheader %}Known OS Releases{% endblock %}
{% block content %}
<table border=1>
<tr>
  <th>Short Name</th>
  <th>Long Name</th>
  <th>Description</th>
  <th>Release Date</th>
  <th>EOL Date</th>
</tr>
  {% for entry in releases %}
<tr>
  <td>{{ entry.name }}</td>
  <td>{{ entry.long_name }}</td>
  <td>{{ entry.description }}</td>
  <td>{{ entry.release_date }}</td>
  <td>{{ entry.eol_date }}</td>
</tr>
  {% endfor %}
</table>
{% endblock %}
